<div class="col-md-12 userAddressBG" style="padding-top: 20px">
  <div class="col-md-12">
    <div class="form-horizontal text-left">
      <div class="form-group">
        <label class="control-label col-sm-5">ชื่อ - นามสกุล <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="userfullNameAddress">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">ที่อยู่ส่งของ <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="userAddress">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">อำเภอ/เขต <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="userCity">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">จังหวัด <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control"[(ngModel)]="userProvince">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">รหัสไปรษณีย์ <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="userPostalCode">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5">เบอร์โทรศัพท์</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [(ngModel)]="userPhoneNumber">
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-lg" (click)="updataAddress()">แก้ไขข้อมูล</button>
    <h5>{{updated}}</h5>
    <br><br>
  </div>

</div>