<div class="col-md-12 userAddressBG">
  <div class="col-md-8">
    <div class="form-inline" style="margin-top:20px">
      <div class="form-group">
        <label>ชื่อ - นามสกุล <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <input type="text" 
               class="form-control" 
               style="margin-left:1px;width:450px"
               [(ngModel)] = "userfullNameAddress">
        <br>
        <br>
      </div>
      <div class="form-group">
        <label>ที่อยู่ส่งของ <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <input type="text" 
               class="form-control" 
               style="margin-left:20px;width:450px"
               [(ngModel)] = "userAddress">
        <br>
        <br>
      </div>
      <div class="form-group">
        <label>อำเภอ/เขต <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <input type="text" 
               class="form-control" 
               style="margin-left:22px;width:150px"
               [(ngModel)] = "userCity">
      </div>
      <br>
      <br>
      <div class="form-group">
        <label>จังหวัด <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <input type="text" 
               class="form-control" 
               style="margin-left:46px;width:150px"
               [(ngModel)] = "userProvince">
      </div>
      <br>
      <br>
      <div class="form-group">
        <label>รหัสไปรษณีย์ <font style="color:#ff0000 ;font-size: 17px">*</font>
        </label>
        <input type="text" 
               class="form-control" 
               style="margin-left:10px;width:150px"
               [(ngModel)] = "userPostalCode">
      </div>
      <br>
      <br>
      <div class="form-group">
        <label>เบอร์โทรศัพท์
        </label>
        <input type="text" 
               class="form-control" 
               style="margin-left:22px;width:150px"
               [(ngModel)] = "userPhoneNumber">

      </div>
    </div>
    <br>
    <button class="btn btn-lg" (click)="updataAddress()" >แก้ไขข้อมูล</button>
    <br><br>
  </div>
  
</div>
