<div class="col-md-12 userDataBG">
  <div class="form-inline" style="margin-top:20px">
    <div class="form-group">
      <label>ชื่อจริง
      </label>
      <input type="text" 
             class="form-control" 
             style="margin-left:12px;width:500px">
      <br>
      <br>
    </div>
    <div class="form-group">
      <label>Email
      </label>
      <input type="text" 
             class="form-control" 
             style="margin-left:12px;width:500px">
      <br>
      <br>
    </div>
    <div class="form-group">
      <label>Email
      </label>
      <textarea rows="4" cols="50"
             type="text" 
             class="form-control" 
             style="margin-left:12px;width:500px">
      </textarea>
      <br>
      <br>
    </div>
    
  </div>
</div>
