<div class="col-md-12 userDataBG">
  <div class="row">
    <div class="col-md-8">
      <div class="form-inline" style="margin-top:20px">
        <div class="form-group">
          <label>ชื่อจริง
          </label>
          <input type="text" 
                class="form-control" 
                style="margin-left:42px;width:450px">
          <br>
          <br>
        </div>
        <div class="form-group">
          <label>Email
          </label>
          <input type="text" 
                class="form-control" 
                style="margin-left:46px;width:450px">
          <br>
          <br>
        </div>
        <div class="form-group">
          <label>เกี่ยวกับคุณ
          </label>
          <textarea rows="4" cols="50"
                type="text" 
                class="form-control" 
                style="margin-left:12px;width:450px"></textarea>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle userImage" src="http://www.iamport.kr/assets/img/user.svg" style="width: 40% ;height:40% "/>
      <br><br>
      <input type="file" name="file" id="file" class="userUploadImage" />
      <label for="file">เลือกรูปภาพ</label>
    </div><br><br>
  </div>
  <button class="btn btn-lg">แก้ไขข้อมูล</button>
  <br><br>
</div>
