.productBG{
    background-color: white;
}

.btn{
    padding-left: 50px;
    padding-right: 50px;
}

.productName{
    margin-left: 10%;
    font-weight:  bold;
}

.productContent{
    margin-left: 2.5%;
    margin-right: 2.5%;
}