<div class="container w3-animate-left">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12  ">
      <img [src]="previewImage" style="height:200px ; width: 100%" *ngIf="previewImage != null">
        <label class="btn btn-default">
          <input type="file"
               ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
               (change)="readUrl($event)"
               class="inputfile" hidden>
               sawda
        </label>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="col-md-3 col-sm-4 col-xs-6 text-right">
        <h4>หมวดหมู่</h4>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-6 text-center">
        <select class="form-control col-sm-2" [(ngModel)]="userReviewCategory">
          <option *ngFor="let name of categorys" [ngValue]="name.name">{{name.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="col-md-3 col-sm-4 col-xs-6 text-right">
        <h4>หัวข้อ</h4>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-6 text-center">
        <input type="email" class="form-control" [(ngModel)]="userReviewTitle">
      </div>
    </div>
  </div>
  <div [froalaEditor]="froalaConfig" [(froalaModel)]="userReviewContent"></div>
  <br>
  <div class="col-md-12 col-xs-12 col-sm-12">
    <button class="btn btn-lg" (click)="postReview()">โพสต์รีวิว</button>
    <h3 style="color: red">{{posted}}</h3>
  </div>

</div>