.sidenav{
    border-radius: 5px;
    background-color: white;
}

.userCredential{
    border-radius: 5px;
}
.tools{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tools:hover{
    background-color: #E5E5E5;
    cursor:pointer
}