.navbar{
    background-color: white;
    box-shadow: 3px 3px 2px grey;
    border-radius: 0px;
}

.icon-bar{
    background-color: gray;
}

.cursor{
    cursor:pointer;
}

.voting{
    background-image: url('../../../assets/image/voting.png');
}